<section id="isotope">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center animated" style="opacity: 1;">
                <header>
                    <h1>Changelog</h1>
                    <p>phanhoi.xyz là sản phẩm nguồn mở. Cập nhật thường xuyên liên tục theo sự đóng góp của cộng đồng.</p>
                    <p>Các thông tin cập nhật hệ thống sẽ được cập nhật tại đây</p>
                </header>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
