<section id="isotope">
    <div class="container inner-xs">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center animated" style="opacity: 1;">
                <header>
                    <h1>Changelog</h1>
                    
                </header>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->


        <div class="row ">
            <div class="col-sm-12">
                <p>PHANHOI.XYZ là sản phẩm nguồn mở. Cập nhật và cải tiến thường xuyên liên tục theo sự <a href="">đóng góp</a> của cộng đồng. </p>
                <div class="text-success">
                    <ul>
                        <li><strong>25/08/2015</strong> Phiên bản thử nghiệm</li>
                        <li><strong>24/08/2015</strong> Test pre-alpha</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</section>
