<section id="hero" class="img-bg img-bg-soft">
<div class="container inner-top-md inner-bottom-sm">
    <div class="row">
        <div class="col-md-8 inner-right inner-bottom-xs animated" style="opacity: 1;">
            <header>
                <h1>Get in touch</h1>
                <p>Do you want to know more? We’d love to hear from you!</p>
            </header>
        </div>
        <!-- /.col -->
        <div class="col-md-4 animated" style="opacity: 1;">
            <h3 style="margin-top: 8px;">PHANHOI.XYZ</h3>
            <ul class="contacts">
                <li><a href="mailto:me@phanhoi.xyz"><i class="icon-mail-1 contact"></i> me@phanhoi.xyz</a></li>
            </ul>
            <!-- /.contacts -->
        </div>
        <!-- /.col -->
    </div>
    <!-- ./row -->
    </div>
    <!-- /.container -->
</section>
