<section id="faq">
    <div class="container inner-top-xs inner-bottom-md">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center animated" style="opacity: 1;">
                <header>
                    <h1>Questions?</h1>
                    <p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
                </header>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-sm-6 inner-right-sm inner-top-sm animated" style="opacity: 1;">
                <h3>How long are the contracts?</h3>
                <p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
                <h3>Can i switch plans later?</h3>
                <p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
                <h3>What support options do i have?</h3>
                <p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
            </div>
            <!-- /.col -->
            <div class="col-sm-6 inner-left-sm inner-top-sm animated" style="opacity: 1;">
                <h3>Is there a setup fee?</h3>
                <p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
                <h3>What types of payment methods are accepted?</h3>
                <p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
                <h3>Can i cancel my account at any time?</h3>
                <p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
