<section id="faq">
    <div class="container inner-top-xs inner-bottom-md">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center animated" style="opacity: 1;">
                <header>
                    <h1>Questions?</h1>
                    <p></p>
                </header>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-sm-6 inner-right-sm inner-top-sm animated" style="opacity: 1;">
                Comming soon. <br />
                Contact at <a href="#!/p/contact">!/p/contact</a>
            </div>
            <!-- /.col -->
            <div class="col-sm-6 inner-left-sm inner-top-sm animated" style="opacity: 1;">
                
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
