<section id="hero" class="img-bg-bottom img-bg-soft tint-bg" style="background-image:url(/images/page_bg.jpg)">
	<div class="container inner">
		<div class="row">
			<div class="col-sm-10 animated" style="opacity: 1;">
				<header>
					<h1>phanhoi.xyz <br /> /pages </h1>
				</header>
			</div><!-- /.col -->
		</div><!-- ./row -->
	</div><!-- /.container -->
</section>


<div class="container inner">
    <div class="row">
        <div class="col-md-3 inner-right-md inner-bottom-sm animated" style="opacity: 1;">
            <!-- ============================================================= SIDE NAVIGATION ============================================================= -->
            <ul class="sidenav">
                <li><a href="#!/p/about">Giới thiệu</a></li>
                <li><a href="#!/p/privacy">Quyền riêng tư</a></li>
                <li><a href="#!/p/terms">Điều khoản</a></li>
                <li><a href="#!/p/faq">FAQ</a></li>
                <li><a href="#!/p/blog">Blog</a></li>
                <li><a href="#!/p/changelog">Changelog</a></li>
                <li><a href="#!/p/contact">Liên hệ</a></li>
            </ul>
            <!-- /.sidenav -->
            <!-- ============================================================= SIDE NAVIGATION : END ============================================================= -->
        </div>
        <!-- /.col -->
        <div class="col-md-9 border-left animated fadeInUp" style="opacity: 1;">
            <section id="who-we-are">
				<div class="container">
					<div class="row">
						
						<div class="col-sm-6 animated" style="opacity: 1;">
							<h2>Who we are</h2>
							<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo.</p>
						</div><!-- /.col -->
						
						<div class="col-sm-6 animated" style="opacity: 1;">
							<h2>What we do</h2>
							<p>Laceaque quiae sitiorem rest non restibusaes es tumquam core posaeremni volor remped modis volor. Doloreiur qui commolu dolor oreprerum tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo. Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor.</p>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
</div>

<section id="get-in-touch" class="tint-bg">
	<div class="container inner-sm">
		<div class="row">
			<div class="col-sm-10 center-block text-center animated" style="opacity: 1;">
				<h1 class="single-block">Want to work with us? <a href="#!/p/contact" class="btn btn-large">Get in touch</a></h1>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>