<section id="hero" class="img-bg-bottom img-bg-soft tint-bg" style="background-image:url(/images/page_bg.jpg)">
	<div class="container inner">
		<div class="row">
			<div class="col-sm-10 animated" style="opacity: 1;">
				<header>
					<h1>phanhoi.xyz <br /> /pages </h1>
				</header>
			</div><!-- /.col -->
		</div><!-- ./row -->
	</div><!-- /.container -->
</section>

<section id="who-we-are">
	<div class="container inner-md">
		<div class="row inner-top-xs">
			
			<div class="col-sm-6 inner-right-xs inner-bottom-xs animated" style="opacity: 1;">
				<h2>Who we are</h2>
				<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo.</p>
			</div><!-- /.col -->
			
			<div class="col-sm-6 inner-left-xs inner-bottom-xs animated" style="opacity: 1;">
				<h2>What we do</h2>
				<p>Laceaque quiae sitiorem rest non restibusaes es tumquam core posaeremni volor remped modis volor. Doloreiur qui commolu dolor oreprerum tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo. Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor.</p>
			</div><!-- /.col -->
			
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<section id="get-in-touch" class="tint-bg">
	<div class="container inner-sm">
		<div class="row">
			<div class="col-sm-10 center-block text-center animated" style="opacity: 1;">
				<h1 class="single-block">Want to work with us? <a href="#!/contact" class="btn btn-large">Get in touch</a></h1>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>