<section id="blog-post" class="light-bg">
    <div class="container inner-top-sm inner-bottom classic-blog">
        <div class="row">
            <div class="col-md-12 inner-right-sm animated fadeInUp" style="opacity: 1;">
                <div class="sidemeta">
                    <div class="post format-gallery">
                        <div class="date-wrapper">
                            <div class="date">
                                <span class="day">22</span>
                                <span class="month">Aug</span>
                            </div>
                            <!-- /.date -->
                        </div>
                        <!-- /.format-wrapper -->
                        <div class="post-content inner-top-xs">
                            <style type="text/css"> ul li, ol li { list-style:initial; margin-left: 2em; } </style>
                            <p class="author"><a href="#" title="" data-rel="tooltip" data-placement="left" rel="tooltip" data-original-title="Post author">phanhoi.xyz</a></p>
                            <h1 class="post-title">Điều khoản dịch vụ</h1>
                            <!-- /.meta -->
                            <p>Cảm ơn bạn đã sử dụng các sản phẩm và dịch vụ của phanhoi.xyz (“Dịch vụ”). Dịch vụ được cung cấp bởi PhanhoiTeam. (“Phanhoi.xyz”)</p>
                            <p>Bằng việc sử dụng Dịch vụ của chúng tôi, bạn đang đồng ý với các điều khoản này. Vui lòng đọc kỹ các điều khoản này.</p>
                            <h2>Sử dụng Dịch vụ của chúng tôi</h2>
                            <p>Bạn phải tuân thủ mọi chính sách đã cung cấp cho bạn trong phạm vi Dịch vụ.</p>
                            <p>Không được sử dụng trái phép Dịch vụ của chúng tôi. Ví dụ: không được gây trở ngại cho Dịch vụ của chúng tôi hoặc tìm cách truy cập chúng bằng phương pháp nào đó không thông qua giao diện và hướng dẫn mà chúng tôi cung cấp. Bạn chỉ có thể sử dụng Dịch vụ của chúng tôi theo như được luật pháp cho phép, bao gồm cả các luật và quy định hiện hành về quản lý xuất khẩu và tái xuất khẩu. Chúng tôi có thể tạm ngừng hoặc ngừng cung cấp Dịch vụ của chúng tôi cho bạn nếu bạn không tuân thủ các điều khoản hoặc chính sách của chúng tôi hoặc nếu chúng tôi đang điều tra hành vi bị nghi ngờ là sai phạm.</p>
                            
                            <h2>Quy định về nội dung đăng tải</h2>
                            <p>Hệ thống Phản hồi luôn tạo điều kiện để bạn đăng tải các ảnh hoặc các nội dung khác. Chúng tôi có toàn quyền trong việc chấp nhận hoặc từ chối các nội dung do người sử dụng đăng tải.</p>
                            <ol>
                            	<li>
                            		Bạn sẽ tự chịu trách nhiệm pháp lý về các nội dung mà bạn đăng tải và kết quả (hậu quả) của việc đưa chúng lên trang web. Ngoại trừ các bài viết, nội dung, phản hồi được đăng tải dưới dạng ẩn danh
                            	</li>
                            	<li>
                            		Bạn hiểu rằng khi sử dụng trang web của chúng tôi, bạn sẽ tiếp nhận nhiều nội dung thông tin được đăng tải từ nhiều nguồn khác nhau. Chúng tôi không chịu trách nhiệm về mức độ chính xác, tính hữu ích, độ an toàn, hoặc các quyền sở hữu trí tuệ của/hoặc liên quan tới những thông tin mà người sử dụng trang web đăng tải
                            	</li>
                            	<li>
                            		Khi truy cập trang website, có thể bạn sẽ thấy một vài thông tin nào đó do người sử dụng đăng tải là không đúng sự thật, không đứng đắn hoặc có thể gây phản cảm và bạn đồng ý thôi không sử dụng dịch vụ, do vậy bạn cũng cam kết không có những hành động chống phá và chỉ truy cập vào những nội dung lành mạnh không bị pháp luật ngăn cấm.
                            	</li>
                            </ol>

                            <h2>Các liên kết</h2>
                            <p>
                            	Hệ thống có thể chứa những đường liên kết tới trang web của các bên thứ ba (không thuộc quyền sở hữu hoặc kiểm soát bởi chúng tôi). Vì vậy, chúng tôi không chịu trách nhiệm về nội dung, các qui định riêng với bất kỳ trang web của bên thứ ba nào. Chúng tôi cũng sẽ không chịu bất kỳ trách nhiệm gì về các nghĩa vụ pháp lý của bạn (nếu có) phát sinh từ việc bạn sử dụng các trang web của bên thứ ba này. Do vậy, chúng tôi khuyến cáo bạn hãy thậ̣n trọng và hãy đọc kỹ các qui định chung và qui định riêng của mỗi trang web mà bạn ghé thăm.
                            </p>

                            <h2>Từ chối đảm bảo</h2>
                            <p>
                            	Bạn hiểu rõ và đồng ý rằng: Do nội dung của trang web được cập nhật từ nhiều nguồn khác nhau do người sử dụng đăng tải, nên bạn sẽ phải hoàn toàn tự chịu rủi ro khi truy cập trang web. Trong phạm vi cho phép của pháp luật, bộ phận quản lý và toàn bộ công nhân viên, các công ty liên quan, các tổ chức liên kết với phanhoi.xyz từ chối một cách rõ ràng mọi sự bảo đảm với trang web. Chúng tôi không cam kết, bảo đảm cho tính chính xác hoặc hoàn chỉnh của nội dung trang web và không có trách nhiệm với bất kỳ:
                            </p>

                            <h2>Loại trừ trách nhiệm</h2>
                            <p>
                            	Chúng tôi sẽ không chịu trách nhiệm trong bất kỳ trường hợp nào dưới đây (bao gồm nhưng không giới hạn) về: thiệt hại trực tiếp, gián tiếp, ngẫu nhiên, đặc biệt, mang tính trả thù, hoặc có hậu quả từ bất kỳ lý do nào được liệt kê dưới đây:
                            	<ul>
                            		<li>Nội dung (bao gồm bất kỳ lỗi hoặc sự thiếu chính xác trong đó).</li>
                            		<li>Những tổn thất cá nhân hoặc những thiệt hại bất khả kháng về tài sản có nguyên nhân từ trang web.</li>
                            		<li>Việc sử dụng bất hợp pháp các máy chủ và/hoặc sử dụng trái phép bất kỳ thông tin cá nhân, các thông tin tài chính chứa trong đó.</li>
                            		<li>Bất kỳ sự gián đoạn hoặc lỗi truyền tín hiệu tới/hoặc từ trang web của chúng tôi.</li>
                            		<li>Bất kỳ lỗi, virus, phần mềm gián điệp, hoặc những phần mềm tương tự như vậy có thể bị chuyển tới/hoặc từ trang web của chúng tôi bởi bên thứ ba.</li>
                            		<li>Lỗi hoặc sai sót trong nội dung tin tức hoặc những thiệt hại mắc phải do việc bạn sử dụng nội dung trên hoặc thông qua trang web. Giới hạn trách nhiệm đã nói tới trên đây sẽ áp dụng trong phạm vi điều chỉnh của luật pháp đối với từng trường hợp cụ thể.</li>
                            	</ul>
                            </p>

                            <h2>Cam kết của bạn</h2>
                            <p>Bạn cam kết KHÔNG khiếu nại phanhoi.xyz về tất cả các thiệt hại, trách nhiệm, tổn thất, hoặc các chi phí tới từ:
                            <ul>
                            	<li>Việc bạn sử dụng trang web</li>
                            	<li>Do bạn vi phạm các điều khoản này</li>
                            	<li>Do vi phạm các qui định áp dụng cho các nội dung do người sử dụng đăng tải</li>
                            	<li>Do bạn vi phạm quyền của bất kỳ bên thứ ba, bao gồm (không giới hạn) các quyền liên quan tới bản quyền tác giả, quyền sở hữu trí tuệ, quyền xuất bản hoặc các quyền cá nhân</li>
                            	<li>Khiếu nại từ một bên thứ ba do nội dung bạn đăng tải gây ra. Những biện pháp và nghĩa vụ bồi thường sẽ tồn tại với những điều khoản này và việc sử dụng trang web của bạn</li>
                            </ul>
                            </p>

                            <hr />
                            <i>Last update: 10:47 22/08/2015</i>
                        </div>
                        <!-- /.post-content -->
                    </div>
                    <!-- /.post -->
                    
                </div>
                <!-- /.sidemeta -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
