    <header>
        <div class="navbar">
            <div class="yamm">
                <div class="navbar-collapse collapse">
                    <div class="container">
                        <a class="navbar-brand" href="/">PHANHOI.XYZ / Admin</a>
                        
                        <span id="main-nav"></span>
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.yamm -->
        </div>
        <!-- /.navbar -->
    </header>

    <div id="feedback-flash-error" class="feedback-flash-error alert alert-danger" style="display:none"></div>

    <main id="main-view">
        <span class="loading"><i class="fa fa-circle-o-notch fa-spin"></i> Loading ...</span>
    </main>


    <footer></footer>

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <script type="text/javascript" data-main="/js/v1/admin/shim" src="/lib/requirejs/require.js"></script>