
<body>
    <header>
        <div class="navbar">
            <div class="yamm">
                <div class="navbar-collapse collapse">
                    <div class="container">
                        <a class="navbar-brand" href="#!/"><%= sails.config.settings.logo_text %></a>
                        
                        <span id="main-nav"></span>
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.yamm -->
        </div>
        <!-- /.navbar -->
    </header>

    <div id="feedback-flash-error" class="feedback-flash-error alert alert-danger" style="display:none"></div>

    <noscript>
    <style type="text/css">html,body{min-height:100%}body{position:relative;overflow:hidden}header,main{display:none}.noscript{position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999999;background-color:#FFF;overflow:hidden}.noscript > div{font-size:2em;text-align:center;margin:50px auto;height:100%;line-height:1em;}</style>
    <div class="noscript" id="noscript"><div>Vui lòng bật javascript, hoặc nâng <a href="http://browsehappy.com/" target="_blank">cấp trình duyệt web</a>.</div></div>
    </noscript>

    <main id="main-view">
        <span class="loading"><i class="fa fa-circle-o-notch fa-spin"></i> Loading ...</span>
    </main>


    <footer></footer>


    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <script type="text/javascript" data-main="/js/v1/client/shim" src="/lib/requirejs/require.js"></script>
    <!--//SCRIPTS--><!--//SCRIPTS END-->
    
    <% if (sails.config.settings.google_analytic) { %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= sails.config.settings.google_analytic %>', 'auto');
      ga('send', 'pageview');

    </script>
    
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//analytics-lvduit.rhcloud.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//analytics-lvduit.rhcloud.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>

    <% } %>
    <% if (sails.config.settings.sumo_site_id) { %>
    <script src="//load.sumome.com/" data-sumo-site-id="<%= sails.config.settings.sumo_site_id %>" async="async"></script>
    <% } %>
</body>