<!DOCTYPE html>
<html lang="en">
<head>
    <!-- http://demo.fuviz.com/reen/v1-2-1/contact.html -->
    <meta charset="utf-8" />
    <title>Phản hồi xyz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Phản hồi nhanh, kênh phản hồi ý kiến, nơi lên tiếng cho cộng đồng" />
    <meta name="keywords" content="phản hồi, ý kiến, thông tin nhanh, phản hồi nhanh, feedback, lên tiếng, ủng hộ, phàn nàn" />
    <link rel="shortcut icon" href="" />

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/v1/animate.min.css">
    <link rel="stylesheet" href="/styles/v1/fonts/fontello.css">
    <link rel="stylesheet" href="/styles/v1/green.css">
    <link rel="stylesheet" href="/styles/v1/main.css">
    <link rel="stylesheet" href="/styles/v1/owl.carousel.css">
    <link rel="stylesheet" href="/styles/v1/owl.transitions.css">
    <!--STYLES END-->

    <link rel="stylesheet" type="text/css" href="/lib/fontawesome/css/font-awesome.min.css" />


    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700&subset=latin,vietnamese" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic&subset=latin,vietnamese" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="/lib/html5shiv/dist/html5shiv.min.js"></script>
        <script src="/lib/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <header>
        <div class="navbar">
            <div class="yamm">
                <div class="navbar-collapse collapse">
                    <div class="container">
                        <a class="navbar-brand" href="/">PHANHOI.XYZ</a>
                        
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.yamm -->
        </div>
        <!-- /.navbar -->
    </header>

    <main id="main-view">
        <span class="loading">Loading ...</span>
    </main>


    <footer></footer>

    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/lib/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="/lib/backbone.marionette/lib/backbone.marionette.min.js"></script>
    <!--script src="/js/dependencies/sails.io.js"></script-->

	<!--TEMPLATES-->
	<script type="text/javascript" src="/jst.js"></script>
	<!--TEMPLATES END-->

    <script src="/js/v1/backbone/collection.js"></script>
    <script src="/js/v1/backbone/model.js"></script>
    <script src="/js/v1/backbone/router.js"></script>
    <script src="/js/v1/backbone/view.js"></script>
    <script src="/js/v1/backbone/init.js"></script>
    <!--//SCRIPTS--><!--//SCRIPTS END-->

</body>
</html>
