<!DOCTYPE html>
<html lang="en">
<head>
    <!-- http://demo.fuviz.com/reen/v1-2-1/contact.html -->
    <meta charset="utf-8" />
    <title>Phản hồi xyz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Phản hồi nhanh, kênh phản hồi ý kiến, nơi lên tiếng cho cộng đồng" />
    <meta name="keywords" content="phản hồi, ý kiến, thông tin nhanh, phản hồi nhanh, feedback, lên tiếng, ủng hộ, phàn nàn" />
    <link rel="shortcut icon" href="" />

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/v1/animate.min.css">
    <link rel="stylesheet" href="/styles/v1/fonts/fontello.css">
    <link rel="stylesheet" href="/styles/v1/green.css">
    <link rel="stylesheet" href="/styles/v1/main.css">
    <link rel="stylesheet" href="/styles/v1/owl.carousel.css">
    <link rel="stylesheet" href="/styles/v1/owl.transitions.css">
    <!--STYLES END-->

    <link rel="stylesheet" type="text/css" href="/lib/fontawesome/css/font-awesome.min.css" />


    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700&subset=latin,vietnamese" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic&subset=latin,vietnamese" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="/lib/html5shiv/dist/html5shiv.min.js"></script>
        <script src="/lib/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <header>
        <div class="navbar">
            <div class="yamm">
                <div class="navbar-collapse collapse">
                    <div class="container">
                        <a class="navbar-brand" href="/">PHANHOI.XYZ</a>
                        
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.yamm -->
        </div>
        <!-- /.navbar -->
    </header>

    <main>
        <section id="who-we-are" class="tint-bg img-bg-softer" style="background-image: url(images/pattern-background03.png);">
            <div class="container inner-top inner-bottom-sm">
                <div class="row">
                    <div class="col-md-8 col-sm-9 center-block text-center">
                        <header>
                            <h1>Phản hồi xyz - Tiếng nói từ cộng đồng</h1>
                            <p>Phản ánh thực trạng quanh mình, kêu gọi sự đồng tình. Sức mạnh từ cộng đồng</p>
                        </header>
                        
                        <center>
                            <a href="/new" class="btn btn-large">Gửi phản hồi</a>
                        </center>
                
                    </div>
                    <!-- /.col -->
                </div>               
            </div>
            <!-- /.container -->
        </section>

        <section>
            <div class="container">
                                <!-- /.row -->
                <div class="row inner-top-sm">
                    <div class="col-md-1">
                        <div class="icon pull-right">
                            <i class="icon-heart-empty-1 icn"></i>
                        </div>
                        <!-- /.icon -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 inner-bottom-xs">
                        <h2>Nhanh</h2>
                        <p class="text-small">Gửi phản hồi cực kì nhanh chóng và kịp thời.</p>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-1">
                        <div class="icon pull-right">
                            <i class="icon-megaphone icn"></i>
                        </div>
                        <!-- /.icon -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 inner-bottom-xs">
                        <h2>Đúng thực trạng</h2>
                        <p class="text-small">Phản hồi của bất cứ ai sẽ được cộng đồng đánh giá.</p>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-1">
                        <div class="icon pull-right">
                            <i class="icon-flow-tree icn"></i>
                        </div>
                        <!-- /.icon -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 inner-bottom-xs">
                        <h2>Sức mạnh</h2>
                        <p class="text-small">Những phản hồi và sự đồng tình từ mọi người sẽ phần nào làm thay đổi cục diện, sức ép từ cộng đồng là vô cùng mạnh mẽ.</p>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </section>



    </main>


        <section id="hero" class="dark-bg img-bg img-bg-soft" style="background-image: url(assets/images/art/slider02.jpg);">
            <div class="container inner-top-md inner-bottom-sm">
                <div class="row">
                    <div class="col-md-8 inner-right inner-bottom-xs">
                        <header>
                            <h1>Get in touch</h1>
                            <p>Do you want to know more? We’d love to hear from you!</p>
                        </header>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-4">
                        <h3 style="margin-top: 8px;" id="add-friend">PHANHOI.XYZ</h3>
                        <ul class="contacts">
                            <li><i class="icon-location contact"></i> 84 Street, City, State 24813</li>
                            <li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
                            <li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> info@mail.com</a></li>
                        </ul>
                        <!-- /.contacts -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- ./row -->
            </div>
            <!-- /.container -->
        </section>

	<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/lib/underscore/underscore-min.js"></script>
	<script type="text/javascript" src="/lib/backbone/backbone-min.js"></script>

	<!--TEMPLATES-->
	<script type="text/javascript" src="/jst.js"></script>
	<!--TEMPLATES END-->
	
	<!--SCRIPTS-->
	<script src="/js/dependencies/sails.io.js"></script>
	<script src="/js/v1/backbone/collection.js"></script>
	<script src="/js/v1/backbone/init.js"></script>
	<script src="/js/v1/backbone/model.js"></script>
	<script src="/js/v1/backbone/router.js"></script>
	<script src="/js/v1/backbone/view.js"></script>
	<script src="/js/v1/jquery.easing.1.3.min.js"></script>
	<script src="/js/v1/jquery.isotope.min.js"></script>
	<!--SCRIPTS END-->



</body>
</html>
