<div class="avatar icon-overlay icn-link">
    <img src="<%= data.avatar %>" alt="">
</div>
<!-- /.avatar -->
<div class="commentbody">
    <div class="author">
        <h3><a href="<%= data.user_link %>"><%= data.name %></a></h3>
        <div class="meta">
            <span class="date"><%= data.date %></span>
            <% if (__c.isAuth && user.id == __c.user.user.id) { %>
                <span class="edit"><a href="javascript:;" class="actionDeleteComment" data-commentId="<%= data.id %>">delete</a></span>
            <% } %>
        </div>
        <!-- /.meta -->
    </div>
    <!-- /.author -->
    <div class="message">
    	<p><%= data.message %></p>
    </div>
    <!-- /.message -->
</div>