<section id="who-we-are" class="tint-bg img-bg-softer" style="background-image: url(images/image-background03.jpg);">
    <div class="container inner-top inner-bottom-sm">
        <div class="row">
            <div class="col-md-9 col-sm-9 center-block text-center">
                <header>
                    <h1>Phản hồi XYZ - Tiếng nói cộng đồng</h1>
                    <p>Building for human rights</p>
                </header>
                
                <center>
                    <a href="#!/explore" class="btn btn-large">Phản hồi</a>
                </center>
        
            </div>
            <!-- /.col -->
        </div>               
    </div>
    <!-- /.container -->
</section>

<section>
    <div class="container">
        <div class="row inner-top-sm inner-bottom-sm">
            <div class="col-md-1">
                <div class="icon pull-right">
                    <i class="icon-heart-empty-1 icn"></i>
                </div>
                <!-- /.icon -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 inner-bottom-xs">
                <h2>Nhanh</h2>
                <p class="text-small">Gửi phản hồi cực kì nhanh chóng và kịp thời.</p>
            </div>
            <!-- /.col -->
            <div class="col-md-1">
                <div class="icon pull-right">
                    <i class="icon-megaphone icn"></i>
                </div>
                <!-- /.icon -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 inner-bottom-xs">
                <h2>Đúng thực trạng</h2>
                <p class="text-small">Chia sẻ, đánh giá thực trạng của vấn đề.</p>
            </div>
            <!-- /.col -->
            <div class="col-md-1">
                <div class="icon pull-right">
                    <i class="icon-flow-tree icn"></i>
                </div>
                <!-- /.icon -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 inner-bottom-xs">
                <h2>Cộng đồng</h2>
                <p class="text-small">Xây dựng 1 cộng đồng vững mạnh.</p>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>