<section id="who-we-are" class="tint-bg img-bg-softer" style="background-image: url(images/pattern-background03.png);">
    <div class="container inner-top inner-bottom-sm">
        <div class="row">
            <div class="col-md-9 col-sm-9 center-block text-center">
                <header>
                    <h1>Phản hồi XYZ - Tiếng nói cộng đồng</h1>
                    <p>Phản ánh thực trạng quanh mình. Sức mạnh từ cộng đồng</p>
                </header>
                
                <center>
                    <a href="#new" class="btn btn-large">Gửi phản hồi</a>
                </center>
        
            </div>
            <!-- /.col -->
        </div>               
    </div>
    <!-- /.container -->
</section>

<section>
    <div class="container">
                        <!-- /.row -->
        <div class="row inner-top-sm">
            <div class="col-md-1">
                <div class="icon pull-right">
                    <i class="icon-heart-empty-1 icn"></i>
                </div>
                <!-- /.icon -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 inner-bottom-xs">
                <h2>Nhanh</h2>
                <p class="text-small">Gửi phản hồi cực kì nhanh chóng và kịp thời.</p>
            </div>
            <!-- /.col -->
            <div class="col-md-1">
                <div class="icon pull-right">
                    <i class="icon-megaphone icn"></i>
                </div>
                <!-- /.icon -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 inner-bottom-xs">
                <h2>Đúng thực trạng</h2>
                <p class="text-small">Phản hồi của bất cứ ai sẽ được cộng đồng đánh giá.</p>
            </div>
            <!-- /.col -->
            <div class="col-md-1">
                <div class="icon pull-right">
                    <i class="icon-flow-tree icn"></i>
                </div>
                <!-- /.icon -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 inner-bottom-xs">
                <h2>Sức mạnh</h2>
                <p class="text-small">Những phản hồi và sự đồng tình từ mọi người sẽ phần nào làm thay đổi cục diện, sức ép từ cộng đồng là vô cùng mạnh mẽ.</p>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>