<section id="login-form">
    <div class="container outer-bottom-xs">
        <div class="row">
            <div class="col-sm-12 outer-top-xs inner-right-sm">
                
                <div id="messageBox">
                    <strong></strong> Đi đến: <a href="#!/" class="btn btn-primary">Trang chủ</a> <a href="#!/explore" class="btn btn-primary">Trang Explore</a>
                </div>
                
            </div>
        </div>
        <!-- /.row -->
           
    </div>
    <!-- /.container -->
</section>