<section id="login-form">
    <div class="container outer-bottom-xs">
        <div class="row">
            <div class="col-sm-6 outer-top-xs inner-right-sm">
                <h2>Đăng nhập</h2>
                <div class="alert alert-danger" id="messageBox" style="display:none"></div>
                <form role="form" action="#" class="forms login-form" method="post">
                    <div class="row">
                        <div class="col-sm-8 animated">
                            Tên tài khoản hoặc Email 
                            <input type="text" name="email" class="form-control" placeholder="Email">
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-sm-8 animated">
                            Mật khẩu
                            <input type="password" name="password" class="form-control" placeholder="Password">
                        </div>
                        <!-- /.col -->
                    </div>
                    <button type="submit" class="btn btn-default btn-submit">Submit</button>
                </form>
                <div id="response"></div>
            </div>
            <!-- ./col -->
            <div class="col-sm-6 outer-top-xs inner-left-sm border-left animated">
                <h2>Đăng ký</h2>
                    Bạn chưa có tài khoản?
                    <a href="#!/register" class="btn">
                        Đăng ký ngay
                    </a>
                    
                    <div class="forgot-password">
                        <a href="#!/forgot" title="Khôi phục mật khẩu">Quên mật khẩu? </a>
                    </div>
                    
                    <div class="social-network">
                        <h3>Social</h3>
                        <ul class="social">
                            <li><a href="javascript:;" class="facebookLoginButton"><i class="icon-s-facebook"></i></a></li>
                            <!--li><a href="javascript:;"><i class="icon-s-gplus"></i></a></li>
                            <li><a href="#"><i class="icon-s-twitter"></i></a></li-->
                        </ul>
                        <!-- /.social -->
                    </div>
                    <!-- /.social-network -->
                    
                    <p>
                        <a href="/">
                        	back to home
                        </a>
                    </p>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
           
    </div>
    <!-- /.container -->
</section>
