<section id="login-form">
    <div class="container outer-bottom-xs">
        <div class="row">
            <div class="col-sm-12 outer-top-xs inner-right-sm">
                
                <div class="alert alert-danger" id="messageBox">
                    <strong>Lỗi:</strong> Không được phép truy cập trang này, vui lòng <a href="#!/login"><strong>đăng nhập</strong></a> hoặc <a href="#!/register"><strong>đăng kí</strong></a> để tiếp tục
                </div>
                
            </div>
        </div>
        <!-- /.row -->
           
    </div>
    <!-- /.container -->
</section>
