<section id="register-form">
    <div class="container outer-bottom-xs">
        <div class="row">
            <div class="col-sm-6 outer-top-xs inner-right-sm">
                <h2>Đăng ký</h2>
                <div class="alert alert-danger" id="messageBox" style="display:none"></div>
                <form role="form" action="/auth/local/register" class="forms register-form" method="post">
                    <div class="row">
                        <div class="col-sm-8 animated">
                            Tên tài khoản
                            <input type="text" name="username" class="form-control" placeholder="Username">
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-sm-8 animated">
                            Email 
                            <input type="text" name="email" class="form-control" placeholder="Email">
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-sm-8 animated">
                            Mật khẩu 
                            <input type="password" name="password" class="form-control" placeholder="Password">
                        </div>
                        <!-- /.col -->
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="g-recaptcha" data-sitekey="6LdBZAsTAAAAAACF7i6WYy5KmyZl_1SxrdplP-sk"></div>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-default btn-submit">Submit</button>
                </form>
                <div id="response"></div>
            </div>
            <!-- ./col -->
            <div class="col-sm-6 outer-top-xs inner-left-sm border-left animated">
                <h2>Đăng nhập</h2>
                    Đã có tài khoản?
                    <a href="#!/login" class="btn">
                        Đăng nhập
                    </a>
                    <!-- /.contacts -->
                    <div class="social-network">
                        <h3>Social</h3>
                        <ul class="social">
                            <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-s-gplus"></i></a></li>
                            <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                        </ul>
                        <!-- /.social -->
                    </div>
                    <!-- /.social-network -->
                    <p>
                        <a href="/">
                            Back to homepage
                        </a>
                    </p>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
