<section class="container">
	<div class="row">
		<div class="col-md-12">
				<div class=" format-standard isotope-item">
				    
				    <!-- /.format-wrapper -->
				    <div class="post-content">
				        <h2 class="post-title">
				        	
				        </h2>	
				        <ul class="meta">
				            <li class="categories"><a href="#">Business</a></li>
				            <li class="comments"><a href="#">14</a></li>
				            <li class="likes"><a href="#">30</a></li>
				        </ul>
				        <!-- /.meta -->
				        <p>
				        	<%= model.content %>
				        </p>
				    </div>
				    <!-- /.post-content -->
				</div>

		</div>
	</div>
</section>

