<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/lib/jquery.cookie/jquery.cookie.js"></script>

<script type="text/javascript">
	$.cookie.json = true;
	$.cookie.defaults = { path: '/', expires: 1 };
    $.cookie(window.__c.cookieAuthKey, JSON.parse('<%- JSON.stringify(data) %>'));

    // Hacking code to close
	var daddy = window.self;
	daddy.opener = window.self;
	daddy.close();
</script>

<div class="container-fluid">Đang chuyển hướng...</div>